In [46]:
import pandas as pd
import numpy as np
import pandasql as ps
import xlsxwriter
import os
import pathlib
import shutil

path = pathlib.Path().absolute()

targetSales = 500000
dataSet1 = pd.read_excel('cleanData.xlsx')
dataSet2 = pd.read_excel('descData.xlsx')

dataFrame = pd.DataFrame(dataSet1)
dataFrameDesc = pd.DataFrame(dataSet2)

dataFrame = dataFrame.replace(np.nan, '', regex=True)
dataFrameDesc = dataFrameDesc.replace(np.nan, '', regex=True)

usernames = []
index = 1

query = "select DISTINCT AM from  dataFrame;"
dataUser = np.array(ps.sqldf(query)).flatten().tolist()
dataUserTemp = dataUser

print("Berikut merupakan List Nama User : ")
print(dataUser)
print("Masukan User2 yang akan dihitung Incentive Product Fokus : ")

while(1) :
    userinput = input('input username ke {} (kosongkan jika sudah): '.format(index))
    if userinput == '' and index == 1:
        usernames = dataUser
        break
    elif userinput == '' :
        break;
    if userinput in dataUserTemp:
            usernames.append(userinput)
            dataUserTemp.remove(userinput)
    else : 
        print('Inputan tidak Cocok untuk data Apotek / sudah diinput sebelumnya')
    index = index + 1
    
index = 0
while (index< len(usernames)) : 
    file_name = usernames[index] + '.xlsx'
    
    workbook = xlsxwriter.Workbook(file_name)
    worksheet = workbook.add_worksheet()
    
    print("data {}".format(usernames[index]))
    
    dataFrameAmFilter = dataFrame.copy()
    query = "select * from  dataFrameAmFilter where AM = '{}';".format(usernames[index])
    dataFrameAmFilter = ps.sqldf(query)
    
    dataProductFokus = dataFrameAmFilter.copy()
    query = "select * from  dataFrameAmFilter where NAMAPROD like 'D-VIT%' "
    query = query + "or NAMAPROD like 'CALNIC%'"
    query = query + "or NAMAPROD like 'VOXIN%'"
    query = query + "or NAMAPROD like 'CEFAROX%'"
    query = query + "or NAMAPROD like 'GASTROLAN%'"
    query = query + "or NAMAPROD like 'VOMISTOP%'"
    query = query + "or NAMAPROD like 'ESTIN%'"
    query = query + "or NAMAPROD like 'ZEMINDO%'"
    query = query + "or NAMAPROD like 'BUSMIN%'"
    query = query + "or NAMAPROD like 'HI-SQUA%'"
    dataProductFokus = ps.sqldf(query)
    
    query = "SELECT DISTINCT NAMALANG FROM  dataProductFokus WHERE \"TYPE OUTLET\" = 'APOTIK' or 'TYPE OUTLET' = 'APOTEK'; "
    dataApotek = np.array(ps.sqldf(query)).flatten().tolist()
    
    dispenList = []
    
    if(len(dataApotek) > 0) : 
        print(dataApotek)
        while(1):
            userinput = str(input('masukan nama Apotik Langganan yang dispen (biarkan kosong untuk selesai)'))
            if userinput == '' :
                break;
            if userinput in dataApotek:
                dispenList.append(userinput)
                dataApotek.remove(userinput)
            else :
                print('Inputan tidak Cocok untuk data Apotek / sudah diinput sebelumnya')

    listApotekDispen = pd.DataFrame(dispenList, columns = ['dispen'])
    query = "select * from  dataProductFokus where \"NAMALANG\" not in (select dispen from listApotekDispen) and  PRSND <= 35"
    filterDataProductFokus = ps.sqldf(query)
    
    query = "select sum(THNA) from  filterDataProductFokus"
    sumSales = np.array(ps.sqldf(query)).flatten().tolist()
   
    if sumSales[0] >= targetSales : 
        query = "select ({} - 5000000) * 7.5/100 as \"Incentive Product Fokus\" from filterDataProductFokus ".format(sumSales[0])
        IPF = np.array(ps.sqldf(query)).flatten().tolist()
        TotalIncentive = IPF[0]
    else :
        TotalIncentive = 0
    
    title_format = workbook.add_format({'bold': True, 'bg_color': '#FFCAB8', 'font_color' : 'black', 'underline' : True, 'font_size':18})
    header_1_format = workbook.add_format({'bold': True, 'bg_color': '#6F6E6D', 'font_color' : 'white','border': 1})
    row_1_format = workbook.add_format({'bold': True, 'bg_color': 'white', 'font_color' : 'black','border': 1})
    header_2_format = workbook.add_format({'bold': True, 'bg_color': '#AFCED6', 'font_color' : 'black','border': 1})
    header_3_format = workbook.add_format({'bold': True, 'bg_color': '#FFF700', 'font_color' : 'black','border': 1})
    row_2_format = workbook.add_format({'bold': False, 'bg_color': 'C7C7C7', 'font_color' : 'black'})
    row_2_format_bdr_top = workbook.add_format({'bold': False, 'bg_color': 'C7C7C7', 'font_color' : 'black', 'top' : 2})
    row_2_format_bdr_bottom = workbook.add_format({'bold': False, 'bg_color': 'C7C7C7', 'font_color' : 'black', 'bottom' : 2})
    row_2_format_bdr_right = workbook.add_format({'bold': False, 'bg_color': 'C7C7C7', 'font_color' : 'black', 'right' : 2})
    row_2_format_bdr_left = workbook.add_format({'bold': False, 'bg_color': 'C7C7C7', 'font_color' : 'black', 'left' : 2})
    
    row_2_format_bdr_top_right = workbook.add_format({'bold': False, 'bg_color': 'C7C7C7', 'font_color' : 'black', 'top' : 2, 'right' : 2})
    row_2_format_bdr_top_left = workbook.add_format({'bold': False, 'bg_color': 'C7C7C7', 'font_color' : 'black', 'top' : 2, 'left' : 2})
    
    row_2_format_bdr_bottom_right = workbook.add_format({'bold': False, 'bg_color': 'C7C7C7', 'font_color' : 'black', 'bottom' : 2, 'right' : 2})
    row_2_format_bdr_bottom_left = workbook.add_format({'bold': False, 'bg_color': 'C7C7C7', 'font_color' : 'black', 'bottom' : 2, 'left' : 2})
    
    
    row_3_format = workbook.add_format({'bold': False, 'bg_color': 'white', 'font_color' : 'black'})
    dots_cell_format = workbook.add_format({'bold': False, 'bg_color': 'white', 'font_color' : 'black','pattern' : 4})
    
    row_1_format_bdrless = workbook.add_format({'bold': True, 'bg_color': 'white', 'font_color' : 'black'})
    row_3_format_bdr = workbook.add_format({'bold': False, 'bg_color': 'white', 'font_color' : 'black', 'border' : 1})
    
    worksheet.merge_range('C1:I1','INCENTIVE PRODUCT FOKUS',title_format)
    
    worksheet.write(2, 3, "NAMA",header_1_format)
    worksheet.write(2, 4, "TEAM",header_1_format)
    worksheet.write(2, 5, "BULAN",header_1_format)
    
    worksheet.write(3, 3, usernames[index], row_1_format)
    worksheet.write(3, 4, dataFrameAmFilter.TEAM[0], row_1_format)
    bulan = dataFrameAmFilter.Bulan[0][5:7] +  '/' + dataFrameAmFilter.Bulan[0][:4]
    worksheet.write(3, 5, bulan, row_1_format)
    
    worksheet.write(5, 3, 'A/T', header_2_format)
    worksheet.write(5,4 , dataFrameAmFilter.AT[0], row_1_format)
    
    worksheet.write(6, 3, 'BIAYA', header_2_format)
    worksheet.write(6,4 , dataFrameAmFilter.PRSND[0], row_1_format)
    
    worksheet.write(8, 2, '', row_2_format_bdr_top_left)
    worksheet.write(8, 3, '', row_2_format_bdr_top)
    worksheet.write(8, 4, '', row_2_format_bdr_top)
    worksheet.write(8, 5, '', row_2_format_bdr_top)
    worksheet.write(8, 6, '', row_2_format_bdr_top)
    worksheet.write(8, 7, '' , row_2_format_bdr_top)
    worksheet.write(8, 8, '', row_2_format_bdr_top_right)
    worksheet.write(9, 2, '', row_2_format_bdr_left)
    worksheet.write(9, 8, '', row_2_format_bdr_right)
    worksheet.merge_range('D10:H10','SALES NON PANEL / TENDER',header_3_format)
    
    worksheet.write(10, 2, '', row_2_format_bdr_left)
    worksheet.write(10, 3, 'NAMA APOTIK', header_2_format)
    worksheet.write(10, 4, 'PRODUK FOKUS', header_2_format)
    worksheet.write(10, 5, 'HNA', header_2_format)
    worksheet.write(10, 6, 'UNIT', header_2_format)
    worksheet.write(10, 7, 'SALES', header_2_format)
    worksheet.write(10, 8, '', row_2_format_bdr_right)
    
    row = 11
    col = 3
    index2 = 0
    flag_color = 0
    listLangNonPanel = set(filterDataProductFokus.NAMALANG)
    listLangNonPanel = list(listLangNonPanel)
    while(index2<len((listLangNonPanel))):
        if(flag_color == 0) : 
            worksheet.write(row, col, listLangNonPanel[index2], row_2_format)
        else :    
            worksheet.write(row, col, listLangNonPanel[index2], row_3_format)
        index3 = 0
        query = "SELECT * FROM filterDataProductFokus WHERE NAMALANG = \"{}\"".format(listLangNonPanel[index2])
        listProduct = ps.sqldf(query)
        while(index3 < len(listProduct)) : 
            worksheet.write(row, 2, '', row_2_format_bdr_left)
            worksheet.write(row, 8, '', row_2_format_bdr_right)
            col = col + 1
            if(flag_color == 0) :
                worksheet.write(row, col, listProduct.NAMAPROD[index3], row_2_format)
            else :    
                worksheet.write(row, col, listProduct.NAMAPROD[index3], row_3_format)
            
            col = col + 1
            if(flag_color == 0) :
                worksheet.write(row, col, listProduct.HNA[index3], row_2_format)
            else : 
                worksheet.write(row, col, listProduct.HNA[index3], row_3_format)
                
            col = col + 1
            if(flag_color == 0) :
                worksheet.write(row, col, listProduct.BANYAK[index3], row_2_format)
            else :
                worksheet.write(row, col, listProduct.BANYAK[index3], row_3_format)
            
            col = col + 1
            if(flag_color == 0) :
                worksheet.write(row, col, listProduct.THNA[index3], row_2_format)
                flag_color = 1
            else :
                worksheet.write(row, col, listProduct.THNA[index3], row_3_format)
                flag_color = 0
                
            col = 3
            index3 = index3 + 1
            row = row + 1
            if(flag_color == 0) :
                worksheet.write(row, col, ' ', row_2_format)
            else :
                worksheet.write(row, col, ' ', row_3_format)
        index2 = index2 + 1
    
    worksheet.write(row, 2, '', row_2_format_bdr_left)
    worksheet.write(row, 3, '', dots_cell_format)
    worksheet.write(row, 4, '', dots_cell_format)
    worksheet.write(row, 5, '', dots_cell_format)
    worksheet.write(row, 6, '', dots_cell_format)
    worksheet.write(row, 7, '' , dots_cell_format)
    worksheet.write(row, 8, '', row_2_format_bdr_right)
    
    row = row + 1
    
    worksheet.write(row, 2, '', row_2_format_bdr_left)
    worksheet.write(row, 3, 'TOTAL', header_2_format)
    worksheet.write(row, 4, '', header_2_format)
    worksheet.write(row, 5, '', header_2_format)
    worksheet.write(row, 6, '', header_2_format)
    worksheet.write(row, 7, sumSales[0] , header_2_format)
    worksheet.write(row, 8, '', row_2_format_bdr_right)
    
    row = row + 1
    worksheet.write(row, 2, '', row_2_format_bdr_bottom_left)
    worksheet.write(row, 3, '', row_2_format_bdr_bottom)
    worksheet.write(row, 4, '', row_2_format_bdr_bottom)
    worksheet.write(row, 5, '', row_2_format_bdr_bottom)
    worksheet.write(row, 6, '', row_2_format_bdr_bottom)
    worksheet.write(row, 7, '' , row_2_format_bdr_bottom)
    worksheet.write(row, 8, '', row_2_format_bdr_bottom_right)
    
    row = row + 2
    worksheet.write(row, 2, '', row_2_format_bdr_top_left)
    worksheet.write(row, 3, '', row_2_format_bdr_top)
    worksheet.write(row, 4, '', row_2_format_bdr_top)
    worksheet.write(row, 5, '', row_2_format_bdr_top)
    worksheet.write(row, 6, '', row_2_format_bdr_top)
    worksheet.write(row, 7, '' , row_2_format_bdr_top)
    worksheet.write(row, 8, '', row_2_format_bdr_top_right)
    
    row = row + 1
    worksheet.write(row, 2, '', row_2_format_bdr_left)
    worksheet.write(row, 8, '', row_2_format_bdr_right)
    worksheet.merge_range(row,3,row,7,'SALES PANEL / TENDER',header_1_format)

    row = row + 1
    worksheet.write(row, 2, '', row_2_format_bdr_left)
    worksheet.write(row, 3, 'NAMA APOTIK', header_2_format)
    worksheet.write(row, 4, 'PRODUK FOKUS', header_2_format)
    worksheet.write(row, 5, 'HNA', header_2_format)
    worksheet.write(row, 6, 'UNIT', header_2_format)
    worksheet.write(row, 7, 'SALES', header_2_format)
    worksheet.write(row, 8, '', row_2_format_bdr_right)
    
    
    row = row + 1
    col = 3
    index2 = 0
    query = "select * from  dataProductFokus where \"NAMALANG\" in (select dispen from listApotekDispen) and  PRSND <= 35"
    filterDataTenderProductFokus = ps.sqldf(query)
    
    flag_color = 0
    while(index2<len((dispenList))):
        if(flag_color == 0) :
            worksheet.write(row, col, dispenList[index2], row_2_format)
        else :
            worksheet.write(row, col, dispenList[index2], row_3_format)
            
        index3 = 0
        query = "SELECT * FROM filterDataTenderProductFokus WHERE NAMALANG = \"{}\"".format(dispenList[index2])
        listProduct = ps.sqldf(query)
        while(index3 < len(listProduct)) :
            worksheet.write(row, 2, '', row_2_format_bdr_left)
            worksheet.write(row, 8, '', row_2_format_bdr_right)
            col = col + 1
            if(flag_color == 0) :
                worksheet.write(row, col, listProduct.NAMAPROD[index3], row_2_format)
            else:
                worksheet.write(row, col, listProduct.NAMAPROD[index3], row_3_format)
                
            col = col + 1
            if(flag_color == 0) :
                worksheet.write(row, col, listProduct.HNA[index3], row_2_format)
            else :
                worksheet.write(row, col, listProduct.HNA[index3], row_3_format)
                
            col = col + 1
            if(flag_color == 0) :
                worksheet.write(row, col, listProduct.BANYAK[index3], row_2_format)
            else :
                worksheet.write(row, col, listProduct.BANYAK[index3], row_3_format)
                
            
            col = col + 1
            if(flag_color == 0) :
                worksheet.write(row, col, listProduct.THNA[index3], row_2_format)
                flag_color = 1
            else :
                worksheet.write(row, col, listProduct.THNA[index3], row_3_format)
                flag_color = 0
            col = 3
            index3 = index3 + 1
            row = row + 1

        index2 = index2 + 1
    
    worksheet.write(row, 2, '', row_2_format_bdr_left)
    worksheet.write(row, 3, '', dots_cell_format)
    worksheet.write(row, 4, '', dots_cell_format)
    worksheet.write(row, 5, '', dots_cell_format)
    worksheet.write(row, 6, '', dots_cell_format)
    worksheet.write(row, 7, '' , dots_cell_format)
    worksheet.write(row, 8, '', row_2_format_bdr_right)
    
    row = row + 1
    
    query = "select sum(THNA) from  filterDataTenderProductFokus"
    sumSalesTender = np.array(ps.sqldf(query)).flatten().tolist()
        
    worksheet.write(row, 2, '', row_2_format_bdr_left)
    worksheet.write(row, 3, 'TOTAL', header_2_format)
    worksheet.write(row, 4, '', header_2_format)
    worksheet.write(row, 5, '', header_2_format)
    worksheet.write(row, 6, '', header_2_format)
    worksheet.write(row, 7, sumSalesTender[0] , header_2_format)
    worksheet.write(row, 8, '', row_2_format_bdr_right)
    
    row = row + 1
    
    worksheet.write(row, 2, '', row_2_format_bdr_bottom_left)
    worksheet.write(row, 3, '', row_2_format_bdr_bottom)
    worksheet.write(row, 4, '', row_2_format_bdr_bottom)
    worksheet.write(row, 5, '', row_2_format_bdr_bottom)
    worksheet.write(row, 6, '', row_2_format_bdr_bottom)
    worksheet.write(row, 7, '' , row_2_format_bdr_bottom)
    worksheet.write(row, 8, '', row_2_format_bdr_bottom_right)
    
    row = row + 2
    worksheet.merge_range(row,5,row,6,'NETT SALES',header_2_format)
    worksheet.write(row, 7, sumSales[0]-5000000, row_1_format)
    
    row = row + 1
    worksheet.merge_range(row,5,row,6,'INCENTIVE PRODUK FOKUS',header_3_format)
    worksheet.write(row, 7, TotalIncentive, row_1_format)
    
    row = row + 3
    worksheet.write(row, 2, 'NOTE:', row_1_format_bdrless)
    
    last_header_format = workbook.add_format({'bold': True, 'bg_color': '#FF9069', 'font_color' : 'black', 'border' : 1})
    
    row = row + 1
    worksheet.write(row, 2, 'NO', last_header_format)
    worksheet.write(row, 3, 'KOLOM', last_header_format)
    worksheet.merge_range(row,4,row,8,'KETERANGAN',last_header_format)
    
    row = row + 1
    worksheet.write(row, 2, '1', row_3_format_bdr)
    worksheet.write(row, 3, 'A/T', header_2_format)
    worksheet.merge_range(row,4,row,8,'PERSENTASE SALES DIBAGI TARGET',row_3_format_bdr)

    row = row + 1
    worksheet.write(row, 2, '2', row_3_format_bdr)
    worksheet.write(row, 3, 'NON PANEL/TENDER', header_2_format)
    worksheet.merge_range(row,4,row,8,'PERSENTASE DISKON PRODUK FOKUS NON PANEL/TENDER',row_3_format_bdr)

    row = row + 1
    worksheet.write(row, 2, '3', row_3_format_bdr)
    worksheet.write(row, 3, 'NAMA APOTIK', header_2_format) 
    worksheet.merge_range(row,4,row,8,'NAMA APOTIK YANG DICOVER TP',row_3_format_bdr)
    
    row = row + 1
    worksheet.write(row, 2, '4', row_3_format_bdr)
    worksheet.write(row, 3, 'PRODUK FOKUS', header_2_format) 
    worksheet.merge_range(row,4,row,8,'NAMA PRODUK FOKUS',row_3_format_bdr)
    
    row = row + 1
    worksheet.write(row, 2, '5', row_3_format_bdr)
    worksheet.write(row, 3, 'UNIT', header_2_format) 
    worksheet.merge_range(row,4,row,8,'TOTAL UNIT PRODUK DALAM 1 BULAN',row_3_format_bdr)
    
    row = row + 1
    worksheet.write(row, 2, '6', row_3_format_bdr)
    worksheet.write(row, 3, 'SALES', header_2_format) 
    worksheet.merge_range(row,4,row,8,'UNIT x HNA',row_3_format_bdr)
    
    row = row + 1
    worksheet.write(row, 2, '7', row_3_format_bdr)
    worksheet.write(row, 3, 'VALUE PRODUK FOKUS', header_2_format) 
    worksheet.merge_range(row,4,row,8,'SALES NON PANEL/TENDER - 5 JUTA',row_3_format_bdr)

    row = row + 1
    worksheet.write(row, 2, '8', row_3_format_bdr)
    worksheet.write(row, 3, 'INCENTIVE PRODUK FOKUS', header_3_format) 
    worksheet.merge_range(row,4,row,8,'VALUE PRODUK FOKUS x 7,5 %',row_3_format_bdr)
    
    workbook.close()
    source = str(path) + "\\" + file_name
    destination = str(path) + "\\" + "results" + "\\" + file_name
    shutil.move(source, destination)
    print("File data {} telah terbuat\n\n".format(file_name))
  
    index = index + 1

print("Program has successfully executed")

Berikut merupakan List Nama User :
['EKA CHAIRANI', 'VACANT - WONOGIRI', 'DAVIQ NOVADA AMD KL', 'ELVIN OTTO MULIAWAN', 'JUAN STENLY TITAHENA', 'RUSUDI GULO', 'ARI YULIAWAN', 'ROSE AGUSTIN, SE', 'DANNIEL', 'VACANT - PALU 2', 'MASHURI HASAN', 'NOOR AYU ARIYANTI', 'DINA ANGGRAINI', 'GALIH YOHANES', 'HARTANTO', 'MUHAMMAD ALI RIDHO', 'GATOT PRAMONO', 'RICHARD', 'RIZAL ZAELANI']
Masukan User2 yang akan dihitung Incentive Product Fokus :
input username ke 1 (kosongkan jika sudah): DANNIEL
input username ke 2 (kosongkan jika sudah):
data DANNIEL
['PHARMAPLUS (ALAM SUTERA) AP', 'PERUMNAS AP', 'MOM & CHILD CARE CLINIC AP', 'TIRTA SARI AP', 'CK FARMA AP', 'HARAPAN JAYA AP', 'BINTANG FORTUNA AP', 'MILLENNIUM PHARMA AP', 'DUTA SEHAT AP']
masukan nama Apotik Langganan yang dispen (biarkan kosong untuk selesai)
File data DANNIEL.xlsx telah terbuat


Program has successfully executed

In [47]:
dataFrameDesc = dataFrameDesc.replace(np.nan, '', regex=True)
dataFrameDesc

,TEAM,NAMA,AT,DISKON,APT_PANEL1,APT_PANEL2,APT. PANEL 3,APOTIK_TENDER
0,TGR 1,JUAN STENLY,1.0340,3.4e+07,BINTANG FORTUNA AP,KITA SEHAT,,
1,TGR 2,GATOT PRAMONO,0.4718,,BINTANG FORTUNA AP,KITA SEHAT,,
2,TGR 3,DANNIEL,0.6584,,BINTANG FORTUNA AP,KITA SEHAT,,
3,TGR 4,ROSE AGUSTIN,1.0752,1.23457e+07,BINTANG FORTUNA AP,KITA SEHAT,,
4,CILEGON,NOOR AYU,0.6353,,PURI SEHAT AP,,,
5,PANDEGLANG,ARI YULIAWAN,1.0119,2.59856e+07,3 NAGA AP,SUMBER SEHAT AP,,
6,SERANG,RUSUDI GULO,0.3415,,SUMBER SEHAT AP,SEHATI AP,,
7,LPG 1,HARTANTO,0.1980,,APT POLYGON FARMA,APT BIMA,,
8,LPG 2,EKA CHAIRANI,0.8740,,APT POLYGON FARMA,APT BIMA,,
9,LPG 3,DAVIQ NOVARA,0.3412,,APT POLYGON FARMA,APT. WAY URANG,APT. PESISIR,
10,LPG 4,MASHURI HASAN,0.9310,,APT POLYGON FARMA,APT. NAISYA,,
11,LPG 5,GALIH YOHANES,1.2070,804470,APT POLYGON FARMA,APT BIMA,,
12,BENGKULU,ALPIAN,0.4736,,APT. BENCOLLEN,APT. AR 24,,

In [55]:
query = "select APT_PANEL1 from  dataFrameDesc where NAMA = 'JUAN STENLY'"
l = np.array(ps.sqldf(query)).flatten().tolist()
query = "select APT_PANEL2 from  dataFrameDesc where NAMA = 'JUAN STENLY'"
l.extend(np.array(ps.sqldf(query)).flatten().tolist())

In [56]:
l

['BINTANG FORTUNA AP', 'KITA SEHAT']